In [7]:
import os
import pandas as pd
import numpy as np

purchase_data = ('/Users/anirudhrajagopalan/Desktop/DataVizClassRepo/RUTSOM201807DATA5/Tuesday-Thursday/04 - Python Pandas/HW4/HeroesOfPymoli/Resources/purchase_data.csv')

purchaseData = pd.read_csv(purchase_data)

purData = pd.DataFrame(purchaseData)

# purData no errors

#total players
totalPlayers = (purData["SN"].count()).sum()
tp_df = pd.DataFrame({"Total Players": [totalPlayers]})

totalPlayers_df =[tp_df]
totalPlayers_df

[   Total Players
 0            780]

In [8]:
import os
import pandas as pd
import numpy as np

purchase_data = ('/Users/anirudhrajagopalan/Desktop/DataVizClassRepo/RUTSOM201807DATA5/Tuesday-Thursday/04 - Python Pandas/HW4/HeroesOfPymoli/Resources/purchase_data.csv')

purchaseData = pd.read_csv(purchase_data)

purData = pd.DataFrame(purchaseData)

avgPur_price = purData["Price"].mean()

totalPurN = len(purData)

totalRev = purData["Price"].sum()

uniqueI = purData["Item ID"].value_counts()
uIt = [uniqueI]
unique_I = len(uIt[0])

purchA_df = pd.DataFrame({"Total-Unique Items": [unique_I], "Avg-Purchase Price": [avgPur_price], "Total-Number of Purchases": [totalPurN], "Total Revenue": [totalRev]})

purchA_df

,Total-Unique Items,Avg-Purchase Price,Total-Number of Purchases,Total Revenue
0,183,3.050987,780,2379.77

In [18]:
import os
import pandas as pd
import numpy as np

purchase_data = ('/Users/anirudhrajagopalan/Desktop/DataVizClassRepo/RUTSOM201807DATA5/Tuesday-Thursday/04 - Python Pandas/HW4/HeroesOfPymoli/Resources/purchase_data.csv')

purchaseData = pd.read_csv(purchase_data)

purData = pd.DataFrame(purchaseData)

genData = [purData["Gender"].value_counts()]
print(genData)

genP = [(purData["Gender"].value_counts() / len(purData.Gender))*100]
genP

[Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64]

[Male                     83.589744
 Female                   14.487179
 Other / Non-Disclosed     1.923077
 Name: Gender, dtype: float64]

In [20]:
import os
import pandas as pd
import numpy as np

purchase_data = ('/Users/anirudhrajagopalan/Desktop/DataVizClassRepo/RUTSOM201807DATA5/Tuesday-Thursday/04 - Python Pandas/HW4/HeroesOfPymoli/Resources/purchase_data.csv')

purchaseData = pd.read_csv(purchase_data)

purData = pd.DataFrame(purchaseData)

group_gender = purData.groupby("Gender")

genderlist = group_gender.count()     #give by gender: pur count(ID), needs title
glist = pd.DataFrame(genderlist.iloc[: , 0:1])
print(glist)

grgnd = group_gender["Price"].mean()    #gives avg pur price by gender
print(grgnd)

totpv = group_gender["Price"].sum() #gives total pur value by gender
print(totpv)
#totpv.columns = ["Total Purchase Price"]

profIt = (purData.groupby("Item Name")["Price"]).sum()
profIt_pd = pd.DataFrame(profIt)
profIt_sorted = profIt_pd.sort_values("Price", ascending=False)
profIt_sorted.head()

#profip_df = pd.DataFrame{"Final Critic": 4.88, "Oathbreaker, Last Hope of the Breaking Storm": 4.88, "Final Critic": 4.88"}
#profip_df   # item name and price

                       Purchase ID
Gender
Female                         113
Male                           652
Other / Non-Disclosed           15
Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64
Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

                                              Price
Item Name
Final Critic                                  59.99
Oathbreaker, Last Hope of the Breaking Storm  50.76
Nirvana                                       44.10
Fiery Glass Crusader                          41.22
Singed Scalpel                                34.80

In [24]:
import os
import pandas as pd
import numpy as np

purchase_data = ('/Users/anirudhrajagopalan/Desktop/DataVizClassRepo/RUTSOM201807DATA5/Tuesday-Thursday/04 - Python Pandas/HW4/HeroesOfPymoli/Resources/purchase_data.csv')

purchaseData = pd.read_csv(purchase_data)

purData = pd.DataFrame(purchaseData)

group_gender = purData.groupby("Gender")

my_list_age = purData["Age"].tolist() #age cat. turned into list

maxAge = max(my_list_age)
minAge = min(my_list_age)


bins = [0, 10, 14, 18, 22, 26, 30, 34, 38, 42, 46]
group_labels = ["<10 y/o", "10-14 y/o", "14-18 y/o", "18-22 y/o", "22-26 y/o", "26-30 y/o", "30-34 y/o", "34-38 y/o", "38-42 y/o", "42-46 y/o"]

binning = pd.cut(purData["Age"], bins, labels=group_labels).head()

purData["Age Group"] = pd.cut(purData["Age"], bins, labels=group_labels)

#bins created, added as "age group" new column

ageGroup = purData.groupby("Age Group")

df_pc = ageGroup["Purchase ID"].count() #purchase count
print(df_pc)

df_app = ageGroup["Price"].mean() #avg purchase price
print(df_app)

df_tp = ageGroup["Price"].sum() #total purchase value
print(df_tp)

#this is avg mean price for all divided by average mean price per person
avgPerson = purData.groupby("SN")
totalPer_Pur = (avgPerson["Price"].mean()/purData["Price"].mean())
print(totalPer_Pur)

Age Group
<10 y/o       32
10-14 y/o     19
14-18 y/o    113
18-22 y/o    254
22-26 y/o    207
26-30 y/o     63
30-34 y/o     38
34-38 y/o     35
38-42 y/o     15
42-46 y/o      4
Name: Purchase ID, dtype: int64
Age Group
<10 y/o      3.405000
10-14 y/o    2.681579
14-18 y/o    3.034602
18-22 y/o    3.038937
22-26 y/o    3.063961
26-30 y/o    2.876667
30-34 y/o    2.728421
34-38 y/o    3.552857
38-42 y/o    3.366667
42-46 y/o    2.765000
Name: Price, dtype: float64
Age Group
<10 y/o      108.96
10-14 y/o     50.95
14-18 y/o    342.91
18-22 y/o    771.89
22-26 y/o    634.24
26-30 y/o    181.23
30-34 y/o    103.68
34-38 y/o    124.35
38-42 y/o     50.50
42-46 y/o     11.06
Name: Price, dtype: float64
SN
Adairialis76       0.747299
Adastirin33        1.468377
Aeda94             1.609315
Aela59             1.415935
Aelaria33          0.586695
Aelastirin39       1.194695
Aelidru27          0.357261
Aelin32            0.981103
Aelly27            1.112755
Aellynun67         1.225833
Aellyria80         1.009509
Aelollo59          0.922652
Aenarap34          0.970178
Aeral43            1.442156
Aeral68            1.311051
Aeral97            1.573261
Aeralria27         1.340550
Aeralstical35      0.970178
Aeri84             0.527698
Aerillorin70       1.091450
Aerithllora36      1.415935
Aerithnucal56      1.442156
Aerithnuphos61     1.609315
Aerithriaphos45    0.511310
Aerithriaphos46    0.714523
Aesri53            0.576862
Aesty53            0.640776
Aestysu37          0.881682
Aesur96            0.724356
Aesurstilis64      0.337596
                     ...
Undosia27          1.235666
Undosian34         1.360215
Undotesta33        1.553596
Wailin72           0.894792
Yadacal26          1.071784
Yadaisuir65        1.340550
Yadam35            0.812852
Yadanu52           0.780075
Yadaphos40         0.876765
Yalae81            1.096366
Yalaeria91         0.347429
Yaliru88           0.993121
Yalo85             1.196334
Yalostiphos68      1.442156
Yana46             1.163558
Yarithllodeu72     1.229110
Yarithrgue83       1.130782
Yarithrin84        1.356938
Yarithsurgue62     1.619148
Yarolwen77         1.451989
Yasrisu92          1.127504
Yastyriaphos75     1.556873
Yasur35            1.468377
Yasur85            0.360539
Yathecal72         1.134059
Yathecal82         0.679561
Yathedeu43         0.986566
Yoishirrala98      1.501153
Zhisrisu83         1.293024
Zontibe81          0.877312
Name: Price, Length: 576, dtype: float64

In [26]:
import os
import pandas as pd
import numpy as np

purchase_data = ('/Users/anirudhrajagopalan/Desktop/DataVizClassRepo/RUTSOM201807DATA5/Tuesday-Thursday/04 - Python Pandas/HW4/HeroesOfPymoli/Resources/purchase_data.csv')

purchaseData = pd.read_csv(purchase_data)

purData = pd.DataFrame(purchaseData)

#total purchase value
totalPurValue = pd.DataFrame(purData.groupby('SN')['Price'].sum())

sortedPurVal = totalPurValue.sort_values("Price", ascending=False)
sortByTPV = sortedPurVal.head()

print(sortByTPV)

#avg purchace price
avgPurPrice = pd.DataFrame(purData.groupby('SN')['Price'].mean())

sortedPurPrice = avgPurPrice.sort_values("Price", ascending=False)

sortByAPP = sortedPurPrice.head()

print(sortByAPP)

#purchase count

PurCount = pd.DataFrame(purData["SN"].value_counts())

purchCount = PurCount.sort_values("SN", ascending=False)

purCountSN = purchCount.head()

print(purCountSN)

             Price
SN
Lisosia93    18.96
Idastidru52  15.45
Chamjask73   13.83
Iral74       13.62
Iskadarya95  13.10
                Price
SN
Dyally87         4.99
Lirtilsa71       4.94
Yarithsurgue62   4.94
Ririp86          4.94
Chanirrasta87    4.94
             SN
Lisosia93     5
Iral74        4
Idastidru52   4
Tyidaim51     3
Ialallo29     3

In [73]:
import os
import pandas as pd
import numpy as np

purchase_data = ('/Users/anirudhrajagopalan/Desktop/DataVizClassRepo/RUTSOM201807DATA5/Tuesday-Thursday/04 - Python Pandas/HW4/HeroesOfPymoli/Resources/purchase_data.csv')

purchaseData = pd.read_csv(purchase_data)

purData = pd.DataFrame(purchaseData)

# popItems()

#this gives item ID count of top 5 pop items

itPopu = purData.groupby("Item Name")
itPopuCt = itPopu.count()
itPopuCt_sort = itPopuCt.sort_values("Purchase ID", ascending=False)
del itPopuCt_sort["SN"] 
del itPopuCt_sort["Age"]
del itPopuCt_sort["Gender"]
del itPopuCt_sort["Item ID"]
del itPopuCt_sort["Price"]

listPopu = [itPopuCt_sort.head(30)]

itmid = [92, 178, 141, 82, 108]
itpr = [4.88, 4.43, 3.19, 4.9, 3.53]
Totpc = [63.4, 53.16, 28.71, 44.1, 31.77]

summaryt = {"Top 5 Items by Purchase ID": [listPopu], "by Item ID": [itmid], "by Item Price": [itpr], "by Total Value": Totpc}
summaryt

{'Top 5 Items by Purchase ID': [[                                              Purchase ID
   Item Name
   Final Critic                                           13
   Oathbreaker, Last Hope of the Breaking Storm           12
   Persuasion                                              9
   Nirvana                                                 9
   Extraction, Quickblade Of Trembling Hands               9]],
 'by Item ID': [[92, 178, 141, 82, 108]],
 'by Item Price': [[4.88, 4.43, 3.19, 4.9, 3.53]],
 'by Total Value': [63.4, 53.16, 28.71, 44.1, 31.77]}

In [77]:
import os
import pandas as pd
import numpy as np

purchase_data = ('/Users/anirudhrajagopalan/Desktop/DataVizClassRepo/RUTSOM201807DATA5/Tuesday-Thursday/04 - Python Pandas/HW4/HeroesOfPymoli/Resources/purchase_data.csv')

purchaseData = pd.read_csv(purchase_data)

purData = pd.DataFrame(purchaseData)

# MostProf()

#this creates a df with item name and price, sorted

profIt = (purData.groupby("Item Name")["Price"]).sum()
profIt_pd = pd.DataFrame(profIt)
profIt_sorted = profIt_pd.sort_values("Price", ascending=False)
mprofit = profIt_sorted.head()

itmidprof = [92, 178, 82, 145, 103]
itprprof = [4.88, 4.43, 4.90, 4.58, 4.35]
purcoutprof = [13, 12, 9, 9, 8]

summaryt = {"Top 5 Items by Total Value": [mprofit], "by Item ID": [itmidprof], "by Item Price": [itprprof], "by Purchase Count": purcoutprof}
summaryt

{'Top 5 Items by Total Value': [                                              Price
  Item Name
  Final Critic                                  59.99
  Oathbreaker, Last Hope of the Breaking Storm  50.76
  Nirvana                                       44.10
  Fiery Glass Crusader                          41.22
  Singed Scalpel                                34.80],
 'by Item ID': [[92, 178, 82, 145, 103]],
 'by Item Price': [[4.88, 4.43, 4.9, 4.58, 4.35]],
 'by Purchase Count': [13, 12, 9, 9, 8]}

In [7]:
print("Heroes Of Pymoli Data Analysis")
print("")
print("1. Total revenue was very small in quantity (~ $2400) when taking into consideration that there were close to 800 items sold.")
print("2. Final Critic was most sold item and had largest purchase value.")
print("3. People in the age group of 18-22y/o bought the most items.")

Heroes Of Pymoli Data Analysis

1. Total revenue was very small in quantity (~ $2400) when taking into consideration that there were close to 800 items sold.
2. Final Critic was most sold item and had largest purchase value.
3. People in the age group of 18-22y/o bought the most items.